:root{
  --def-trasition-duriation:.2s;
}
.carousel-one .carousel-item img{
    height: 70rem; 
    max-width:100%;
    object-fit: cover; 
  }
.carousel-out-one::before{
      content: '';
      top:0;
			position: absolute;
			inset:0;
			background: rgba(33, 32, 32, 0.8);
			z-index:1;
}
.carousel-one .carousel-inner {
    height: 70rem; 
    position:relative;
}
ol li{
  list-style: none;
}
.carousel-indicators{
  bottom:15%;
}
.add{
  background-color: red;
}
.carousel-one .carousel-inner {
  position: relative;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  width:45rem;
  height: 35rem;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 10;
}
.Heading1 h1{
  font-size: 6rem;
}
.Heading1 {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  color: white;
  transition-property: color;
}

.carousel-caption .Heading2 p{
  position: absolute;
  left: 0;
  font-size: 1.8rem;
  color: white;
  margin:0;
  padding-left: 0;
  z-index: 11;
  transition-property: color;
}
.carousel-caption .Heading2 {
  position: absolute;
  left: 0;
  width: 100%;
}
.Heading2 h1{
  display: flex;
  justify-content: flex-start;
  font-size: 4rem;
  width: 35rem;
  font-weight: 500;
  margin: 10px 0 0 0; 
  padding: 40px 0 0 0;
  text-align: left; 
 
}
.carousel-caption .Heading2 p,
.Heading1{
  transition-timing-function: ease-in-out;
  transition-duration: var(--def-trasition-duriation);
}

@media only screen and (min-width: 700px) and (max-width: 1024px) {
.carousel{
  height: 100vh;
}
.carousel-one .carousel-item img{
  height: 100vh;
}
.carousel-one .carousel-inner {
  height: 100%; 
  position:relative;
}
  .carousel-caption {
    position: absolute;
    
    left: 50%;
    width:30rem;
    height: 30rem;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 10;
  }
  /* .Heading1 {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    color: white;
  } */
  .carousel-caption .Heading2 p{
    position: absolute;
    left: 0;
    font-size: 1rem;
    color: white;
    margin:0;
    padding-left: 0;
    z-index: 11;
  }
  .carousel-caption .Heading2 {
    position: absolute;
    left: 0;
    width: 100%;
  }
  .Heading1 h1{
    font-size: 4rem;
  }
  .Heading2 h1{
    display: flex;
    justify-content: flex-start;
    font-size: 2.5rem;
    width: 30rem;
    font-weight: 500;
    margin: 10px 0 0 0; 
    padding: 40px 0 0 0;
    text-align: left; 
   
  }
}

@media only screen and (min-width: 400px) and (max-width:700px) {
  .carousel-caption{
    position: absolute;
    left: 50%;
    width:25rem;
    height: 30rem;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 10;
    margin-top: 10%;
  }
  .carousel-caption .Heading1 h1{
    font-size: 3rem;
  }
  .carousel-caption .Heading1 h5{
    font-size: 1rem;
  }
  .carousel-caption .Heading2 {
    position: absolute;
    left: 0;
    width: 100%;
  }
  .carousel-caption .Heading2 p{
    font-size: 1rem;
  }
  .Heading2 h1{
    display: flex;
    justify-content: flex-start;
    font-size: 3rem;
    width: 25rem;
    font-weight: 500;
    margin: 10px 0 0 0; 
    padding: 40px 0 0 0;
    text-align: left; 
   
  }

  .carousel-caption .Heading1 {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    color: white;
  }
}